body
{
    margin-top:2%;
    margin-left:20%;
    margin-right:20%;
    margin-bottom:2%;
    font-family: Verdana;
    background-color:#0e182f;
}

article
{
    padding: 10px;
    text-align: justify; 
    font-family: Georgia;
    background-color: white;
    border: 4px solid #7c8a97;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

nav, nav a
{
    color: white;
    text-decoration: none;
}

h1.title
{
    margin: 0px;
}

nav ul
{
    padding-left: 10px;
}

nav ul li
{
    display: inline;
}

nav ul li:after
{
    content: "> ";
}

nav ul li.last:after
{
    content: "";
}

pre
{
    font-size: 90%;
}

footer
{
    color:white;
    margin: 10px;
    font-size: 75%;
    text-align: center;
}

.index
{
    float:left;
}

.index .page
{
    width: 30%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: Georgia;
    border: 1px solid #0e182f;
    background-color: #b0bac4;
    box-shadow: 1px 1px 10px #0e182f;
}

.index .page a.title, .index .page a.title:visited
{
    color: #243049;
    text-decoration:none;
}


.index .hover
{ 
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 1px 1px 10px white;
}

.index .left
{
    float: left;
    margin-right: 0px;
}

.index .right
{
    float:right;
    margin-left: 0px;
}

.index .date
{
    font-size: 75%;
}