body { 
    background-image:url('bg.png');
    margin-top:2%;
    margin-bottom:2%;
}

footer{
    text-align:center;
}

.details li{
    display:inline;
}

img{
    margin:1%;
    max-width:99%;
}

article{
    background-color:white;
    font-size:110%;
}

@media (min-width:767px){
    article{
        padding:2%;
        box-shadow: 0 0 10px #888;
        border:1px solid #cecece;
        -moz-box-shadow: 0 0 10px #888;
        -o-box-shadow: 0 0 8px 2px #ddd;
        -webkit-box-shadow: 0 0 10px #888;
    }
}

